body {
    background: url("images/stages/ryu_background.jpg") no-repeat center top;
    background-size: 100% 100%;
}
.content-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.header-container {
    width: 100%;
    height: 15%;
    max-height: 50px;
    position: relative;
}
.main-content {
    height: 70%;
    position: relative;
}
div.stats-container {
    display: block;
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0 10%;
    border: 2px solid white;
    border-radius: 0;
    background-color: yellow;
    text-align: center;
    vertical-align: top;
}
.sub-header {
    display: block;
    position: absolute;
    width: 80%;
    height: 10%;
    margin: 0 10%;
    text-align: center;
    vertical-align: top;
    clear: both;
}
.button {
    right: 0;
    position: absolute;
    z-index: 99;
}
div.stats-container div {
    display: inline-block;
    background-color: red;
    height: 100%;
}
.sub-header div {
    height: 100%;
    display: inline-block;
}
.attempts {
    position: absolute;
    right: 0;
    width: 15%;
    text-align: center;
}
.games-played {
    text-align: center;
    position: absolute;
    width: 15%;
    left: 0;
}
.ko-img {
    height: 105%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: red;
    bottom: 0;
}
.ko-img img{
    height: 100%;
    width: 95%;
    /*margin-top: 5%;*/
}
p.label {
    color: yellow;
}
h3.value {
    color: yellow;
    position: relative;
    margin-top: 0;
}

.card-container {
    width: 60%;
    height: 80%;
    position: absolute;
    font-size: 0;
    z-index: 2;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
}

.card-container .card {
    position: relative;
    width: 16%;
    height: 33%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid red;
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
}
.card-container .front img, .card-container .back img {
    width: 100%;
    height: 100%;
}
.winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

footer {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    z-index: 1;
}
.fighter-divs {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.fighter-divs div {
    display: inline-block;
    position: absolute;
    margin: auto;
}
#ken {
    right: 25%;
}
#ken, #ryu {
    height: 100%;
}

#ken img, #ryu img {
    height: 60%;
    top: 30%;
    position: absolute;
}
#ryu {
    left: 18%;
}

/* COMPARED TO THE ABOVE FEW LINES OF CODE*/
/*#ken {*/
    /*right: 15%;*/
/*}*/
/*#ken, #ryu {*/
    /*top: 25%;*/
    /*height: 75%;*/
/*}*/

/*#ken img, #ryu img {*/
    /*height: 80%;*/
/*}*/
/*#ryu {*/
    /*left: 18%;*/
/*}*/


.reset {
    background-color: rebeccapurple;
    color: lightslategrey;
    width: 150px;
    height:45px;
}
#playPause {
    background-color: rebeccapurple;
    color: lightslategrey;
    height: 100%;
    width: auto;
}

#playPause.playAudioClass {
    background: url("images/environment/audio-play-contrastedColors.png") no-repeat center top;
    background-size: 100% 100%;
}
#playPause.pauseAudioClass {
    background: url("images/environment/audio-pause-contrastedColors.png") no-repeat center top;
    background-size: 100% 100%;
}
.audio-controls {
    height: 100%;
}
/******** ABOUT PAGE *******/
.become-one-with-ryu {
    height: 70%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.become-one-with-ryu .me-ken-img {
    height: 100%;
}
.become-one-with-ryu .hadouken-text {
    position: absolute;
    left: 47%;
    bottom: 65%;
}
#about-page-games-played {
    padding: 1% 0;
    background-color: yellow;
    width: 40%;
    max-height: 46px;
    min-width: 272px;
}
#about-page-games-played img {
    position: absolute;
    left: 0;
    margin: 1% 0;
}
.accuracy img {
    position: relative;
    margin-top: 0;
}
#about-page-attempts {
    width: 40%;
    background-color: yellow;
}
#about-page-attempts img {
    position: absolute;
    right: 0;
    margin: 4% 0;
}#background-img {
     background: url("images/stages/dhalsim-background.jpg") no-repeat center top;
     background-size: 100% 100%;
 }

/*** New Stats Side Display
*******************************/
/*.statsWrapper {*/
    /*background-color: black;*/
    /*!* height: 50%; *!*/
    /*width: 30%;*/
    /*position: absolute;*/
    /*box-sizing: border-box;*/
    /*!* text-align: left; *!*/
    /*!* line-height: 0; *!*/
    /*border: 5px solid black;*/
    /*line-height: 0.5;*/
/*}*/

/*.statsWrapper p {*/
    /*color: orange;*/
    /*display: inline-block;*/
/*}*/

/*.rounds, .attempts, .matches {*/
    /*background-color: purple;*/
/*}*/

/*.statsWrapper div p:nth-of-type(even) {*/
    /*color: green;*/
    /*position: absolute;*/
    /*right: 7%;*/
/*}*/

/*.statsWrapper div p:nth-of-type(odd) {*/
    /*margin-left: 7%;*/
/*}*/